* {
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .logo {
        order: 1;
        width: 80px;
    }

    .mobile-welcome {
        order: 2;
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    nav ul {
        order: 2;
        gap: 10px;
        padding: 0;
        list-style: none;
        align-items: center;
        width: 70%;
    }

    nav ul li a {
        display: block;
        text-align: center;
        padding: 15px 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: #b15656;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: #a94a4a;
    }

    .mobile-hidden {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        position: sticky;
        z-index: 1000;
    }

    .logo {
        height: 80px;
        margin-right: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        color: #550F0F;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #a94a4a;
    }

    .banner {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-image {
        width: 80%;
        max-width: 800px;
    }

    .welcome {
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
    }

    .services ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 20px;
        list-style: none;
    }

    .services ul li {
        flex: 0 1 calc(50% - 20px);
        font-size: 18px;
        text-align: center;
        padding: 15px;
        background: linear-gradient(135deg, #ffffff, #f7e8e8);
        border: 1px solid #d4cfcf;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .services ul li:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .services ul li::before {
        content: '•';
        color: #891313;
        font-weight: bold;
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }

    .working-hours {
        flex: 1;
        text-align: center;
    }

    .working-hours h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .working-hours table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 16px;
        text-align: center;
        background: linear-gradient(135deg, #ffffff, #dec8cf);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .working-hours th,
    .working-hours td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #333;
    }

    .working-hours th {
        background-color: #891313;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .working-hours tr:hover {
        background-color: rgba(255, 204, 204, 0.8);
        transition: background-color 0.3s ease;
    }

    .working-hours td:first-child {
        font-weight: bold;
        color: #891313;
    }

    .working-hours td {
        text-align: center;
    }

    .working-hours,
    .quick-booking {
        flex: 1;
    }

    .quick-booking {
        text-align: center;
    }

    .quick-booking h2 {
        font-size: 24px;
        color: #891313;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .quick-booking input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        position: relative;
    }

    .quick-booking label {
        display: block;
        font-size: 16px;
        text-align: left;
        width: 80%;
        margin-bottom: 5px;
        margin-left: 44px;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        padding: 5px 10px;
        width: 80%;
        margin: 0 auto;
    }

    .input-wrapper input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 15px;
        flex: 1;
        background-color: #D9D9D9;
    }

    .input-wrapper input:focus {
        outline: none;
        border: 2px solid #DD1616;
        box-shadow: 0 0 8px rgba(221, 22, 22, 0.5);
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
    }

    .input-wrapper>img {
        width: 24px;
        height: 24px;
    }

    .quick-booking button {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background-color: #DD1616;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        width: 50%;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .quick-booking button:hover {
        background-color: #a94a4a;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .tablet-hidden {
        display: none;
    }
}

/* Стили для десктопной версии */
@media only screen and (min-width: 1024px) {
    .desktop-hidden {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        position: sticky;
        z-index: 1000;
    }

    nav .logo {
        height: 120px;
        margin-right: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 36px;
        font-weight: bold;
        color: #550F0F;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #a94a4a;
    }

    .banner {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;
        overflow: hidden;
        margin-top: 24px;
    }

    .banner-image {
        width: 70%;
        max-width: 1019px;
        height: 100%;
        object-fit: cover;
    }

    .welcome {
        color: #000000;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-top: 27px;
    }

    .welcome p {
        line-height: 1.2;
        margin: 0;
    }

    #highlight {
        color: #DE2B2B;
    }

    .services {
        text-align: center;
        margin: 40px 0;
    }

    .services h2 {
        font-size: 32px;
        color: #7B1C1C;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .services ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 0;
        margin: 0;
        list-style: disc;
    }

    .services ul li {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        list-style-position: inside;
        text-align: center;
    }

    .info-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 150px;
        margin: 40px auto;
        width: 80%;
        max-width: 900px;
    }

    /* Стили для секции "Ми чекаємо на вас" */
    .working-hours {
        flex: 1;
        text-align: center;
    }

    .working-hours h2+table {
        margin-top: 10px;
    }

    .working-hours h2 {
        font-size: 36px;
        font-weight: bold;
    }

    .working-hours table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
        background: linear-gradient(135deg, #ffffff, #dec8cf);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .working-hours th,
    .working-hours td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #333;
    }

    .working-hours th {
        background-color: #891313;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .working-hours tr:hover {
        background-color: rgba(255, 204, 204, 0.8);
        transition: background-color 0.3s ease;
    }

    .working-hours td:first-child {
        font-weight: bold;
        color: #891313;
    }

    .working-hours td {
        text-align: center;
    }


    /* Стили для секции "Швидке бронювання" */
    .quick-booking {
        flex: 1;
        text-align: center;
    }

    .quick-booking h2 {
        font-size: 36px;
        color: #891313;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .quick-booking input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80%;
        position: relative;
    }

    .quick-booking label {
        display: block;
        font-size: 16px;
        text-align: left;
        width: 80%;
        margin-bottom: 5px;
        margin-left: 44px;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        padding: 5px 10px;
        width: 80%;
        margin: 0 auto;
    }

    .input-wrapper input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 15px;
        flex: 1;
        background-color: #D9D9D9;
    }

    .input-wrapper input:focus {
        outline: none;
        border: 2px solid #DD1616;
        box-shadow: 0 0 8px rgba(221, 22, 22, 0.5);
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
    }

    .input-wrapper>img {
        width: 24px;
        height: 24px;
    }

    /* Стили для кнопки */
    .quick-booking button {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background-color: #DD1616;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        width: 50%;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .quick-booking button:hover {
        background-color: #a94a4a;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        background-image: url('Sources/Images/footer-background.jpg');
        background-size: cover;
        background-blend-mode: multiply;
    }

    footer a[href="project-info.html"] {
        color: #3c2269;
    }
}